.collapsed-description + .full-description {
  display: none;
}

td.expanded .collapsed-description {
  display: none;
}

td.expanded .full-description {
  display: block;
}

.expand-toggle {
  display: inline;
  color: blue;
  cursor: pointer;
}


